#clickdimensionsForm {
  height: auto !important;
}

/* Global */

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura PT", "futura-pt", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  margin-bottom: 1.5em;
}

ul li {
  margin-bottom: 0.5em;
}

.btn {
  font-family: "Futura PT", "futura-pt", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em 1em;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  background: #5d9732;
  border-color: #5d9732;
}

/* Header */
header {
  padding: 1em;
}

.header-brand img {
  max-width: 220px;
}

.header-contact {
  text-align: right;
}

@media (max-width: 993px) {
  .header-brand,
  .header-contact {
    text-align: center;
    width: 100%;
    margin: 0 auto 1.5em;
  }
}

/* Hero */
.hero {
  background: url(../img/hero.jpg);
  background-size: cover;
  padding-top: 7.5em;
  padding-bottom: 10em;
  color: #fff;
}

.hero h1 {
  font-size: 3.5em;
  margin-bottom: 1em;
  text-align: center;
}

.hero ul {
  font-size: 1.25em;
}

/* Feature Section */
.feature {
}

.featureBlock {
  overflow: hidden;
  margin-top: -5em;
  margin-bottom: 5em;
  padding: 1.5em 2.5em;
  background: #c75a13;
  color: #fff;
}

.featureBlock h2 {
  text-align: center;
  margin-bottom: 1em;
}

@media (max-width: 480px) {
  .featureBlock {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.featureBlock .btn {
  margin-top: 2em;
}

/* Content Section */
.content {
}

.contentBlock {
  margin-bottom: 10em;
}

/* Lead Section */

.contact {
  background: url(../img/hero.jpg);
  background-size: cover;
}

.contactBlock {
  background: #1a1a1a;
  color: #fff;
  margin-top: -5em;
  margin-bottom: 5em;
  overflow: hidden;
  padding: 1.5em 2.5em;
}

.contactBlock h2 {
  text-align: center;
  margin-bottom: 1em;
}

@media (max-width: 480px) {
  .contactBlock {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

/* Footer */
.footer {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer {
}
