<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="img-responsive" src="img/logo.png"/></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-callout">Call today for a <strong class="green">FREE PREQUALIFICATION</strong> and a consultation</li>
        <!--<li><a href="tel:+{{$ctrl.officer.phone}}">{{$ctrl.officer.contact.phone}}</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<header>
  <div class="hero">
    <div class="cta">
      <h1>Get A Mortgage Today</h1>
      <h3 class="color-light">WE SPECIALIZE IN HOMES WITH LARGE ACREAGE FOR YOUR DREAM HOME OUT IN THE COUNTRY!</h3>
    </div>
  </div>
</header>


<main class="container">
  <div class="row">
    <!--<div class="col-md-2">

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>-->
      <!--Body content-->

        <div ng-repeat="officer in $ctrl.officers | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="col-md-4">
          <div class="thumbnail">
            <a href="#!/officers/{{officer.id}}" class="thumb">
              <img ng-src="{{officer.imageUrl}}" alt="{{officer.name}}" />
            </a>
            <a href="#!/officers/{{officer.id}}"><h3>{{officer.name}}</h3></a>
            <p><strong>{{officer.city}}, {{officer.state}}</p></strong>
          </div>
        </div>


  </div>
</main>
