.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $green;
  border: .1rem solid $green;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .1rem;
  line-height: 1.75rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: $teal;
    border-color: $teal;
    color: $white;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;

    &:focus,
    &:hover {
      background-color: $green;
      border-color: $green;
    }
  }

  &.button-outline {
    background-color: transparent;
    color: $green;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: $darkgrey;
      color: $darkgrey;
    }

    &[disabled] {
      &:focus,
      &:hover {
        border-color: inherit;
        color: $green
      }
    }
  }


  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $green;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $darkgrey;
    }

    &[disabled] {
      &:focus,
      &:hover {
        color: $green;
      }
    }
  }
}
