/* ==========================================================================
	Variables
========================================================================== */

// Filters
$filterCool: rgba(60, 80, 69, 0.5);
//$filterWarm: rgba(80, 48, 26, 0.5);
$filterWarm: rgba(57, 34, 17, 0.5);
$filterTan: rgba(57, 34, 17, 0.25);


$sm: 540px;
$md: 720px;
$lg: 960px;