.site-footer {
  background-color: rgba(57, 34, 17, 1);
  background-image: url('../img/patterns/wood.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 4rem;
  position: relative;
  text-align: center;
  @media (min-width: $large) {
    text-align: left;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $filterWarm;
    z-index: 1;
  }

  & > .container {
    position: relative;
    z-index: 10;
  }
}