/* Header */
.site-header {
  position: relative;
  background-color: $green;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 5px solid $teal;
  min-height: 80vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $filterWarm;
    z-index: 1;
  }

  & > .container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand {
    margin-bottom: 4em;
  }

  .masthead {
    background-image: url('../img/masthead.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 2.5rem 2rem;
    width: 400px;
    height: 400px;
    text-align: center;

    .typed {
      margin-top: 1rem;
    }

    img {
      margin: 1rem auto;
      width: 100%;
    }
  }
}

.header-splash {
  background-image: url('../img/hero-splash.jpg');
  min-height: 0;
}

.header-aca {
  background-image: url('../img/hero-aca.jpg');
  min-height: 0;
}