.typed {
  color: $grey;
  font-family: $sans;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/* Typed.js */
#typed {
  display: inline-block;
  margin-right: 5px;
  white-space: pre;
}

.typed-cursor {
  color: #636D77;
  display: inline-block;
  font-family: $sans;
  font-weight: 200;
}

/* Header*/
.site-header {
  position: relative;
  background-color: black;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.25);
  z-index: 1;
}

.site-header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.site-header > .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header .brand {
  margin-bottom: 2em;
}

.site-header .content {
  padding: 3em 2.75em 1.5em;
  background: #fff;
  text-align: center;
  min-width: 450px;
  border: 20px solid #50301a;
}

@media (pointer: coarse) and (hover: none) {
  .site-header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .site-header video {
    display: none;
  }
}