/* Header */
.site-header {
  position: relative;
  background-color: $green;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border-top: 5px solid $teal;
  min-height: 80vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  /*overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;*/

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $filterWarm;
    z-index: 1;
  }

  & > .container {
    position: relative;
    z-index: 10;
  }

  .brand {
    margin-bottom: 2rem;
    text-align: center;

    img {
      width: 100%;
      max-width: 250px;
    }
  }

  .contact {
    color: #fff;
    text-align: center;
    padding-top: 0.25rem;
    @include media-breakpoint-up(md) {
      padding-top: 0.5rem;
      display: block;
      text-align: right;
    }

    .phone {
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      padding: 1rem;
      text-decoration: none;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;

      &:hover {
        background: rgba(256, 256, 256, 0.1);
      }
    }
  }

  .masthead {
    background-image: url('../img/patterns/frame_1200x1200.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem auto;
    padding: 5rem 2.5rem 2rem;
    width: 400px;
    height: 400px;
    text-align: center;

    .typed {
      margin-top: 1rem;
    }

    img {
      margin: 1rem auto;
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 320px;
      height: 320px;
      padding: 3rem 1.5rem 1rem;

      .display {
        font-size: 50px;
      }

      .fancy {
        font-size: 70px;
      }

      .lead {
        font-size: 1.25rem;
      }

    }
  }
}

.header-splash {
  background-image: url('../img/hero-splash.jpg');
  min-height: 0;
}

.header-aca {
  background-image: url('../img/hero-aca.jpg');
  min-height: 0;
}

.header-article {
  background-image: url('../img/hero-article.jpg');
  min-height: 25em;
  @include media-breakpoint-down(md) {
    min-height: 0;
  }

  & > .container {
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .masthead {
    background-color: #fff;
    background-image: url('../img/patterns/frame_1600x620.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 280px;
    padding: 3rem;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10rem;
    @include media-breakpoint-down(md) {
      position: relative;
      top: 6rem;
      width: 100%;
      background-image: none;
      height: auto;
      margin-bottom: 2rem;
      padding: 2rem;
    }

    h1 {
      font-size: 3rem;
      @include media-breakpoint-down(md) {
        font-size: 2.5rem;

        br {
          display: none;
        }
      }
    }

    .fancy {
      color: $green;
      font-size: 36px;
      line-height: 30px;
      margin-bottom: 0.5rem;
    }
  }
}
