section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.topCta {
  background: $teal;
  color: #fff;
  padding: 2rem 0;
  width: 100%;

  & > .container {
    max-width: $lg;
  }

  .getHelp {
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;

      br {
        display: none;
      }
    }
  }

  form {
    input {
      text-align: center;

      &::placeholder {
        font-size: 16px;
      }
    }
  }
}

.intro {
  .intro-copy {
    text-align: center;

    & > .container {
      max-width: $md;
    }

    h2 {
      margin-bottom: 1rem;
    }

    strong {
      color: $green;
    }

    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
    }
  }

  .intro-launchpads {
    padding-top: 2em;

    & > .container {
      max-width: $lg;
    }

    .launchpad-item {
      text-align: center;

      .launchpad-img {
        margin-bottom: 1em;

        img {
          border-radius: 50%;
        }
      }

      .launchpad-title {
        color: $green;
        font-size: 1.5rem;
      }

      .launchpad-content {
        font-size: 1rem;
      }
    }

    .media {
      text-align: left;
      margin-bottom: 1em;

      @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
      }

      .launchpad-img {
        margin-right: 1em;
        @include media-breakpoint-down(md) {
          margin-right: 0;
        }
      }

    }
  }

}

.time2move {
  text-align: center;
  background: $green;
  color: #fff;

  & > .container {
    max-width: $sm;
  }

  .typed {
    color: #fff;
    margin-bottom: 1rem;
  }
}

.growKnowledge {
  background-image: url('../img/patterns/dashes.jpg');
}

.download {
  padding-top: 0;
  padding-bottom: 0;
  background: $green;
  color: #fff;
  text-align: center;

  .download-image {
    background-image: url('../img/download.jpg');
    background-position: center;
    background-size: cover;
    min-height: 30vh;
  }

  .download-form {
    padding: 2rem;
    @include media-breakpoint-up(md) {
      padding: 4rem;
    }

    form {
      text-align: left;
    }

    .sep {
      display: block;
      height: 1px;
      background-color: #fff;
      width: 10em;
      margin: 1rem auto;
    }
  }
}

.calculator {
  .calc-copy {
    text-align: center;

    & > .container {
      max-width: $md;
    }
  }

  .calcLoan {
    background-image: url('../img/masthead-form.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    margin: 0 auto;
    padding: 4rem;
    @include media-breakpoint-down(md) {
      background-image: none;
      width: 100%;
      height: auto;
      padding: 2rem;
    }
  }

  #calcresults {
    background: lighten($tan, 10%);
    max-width: $md;
    margin: 1rem auto 0;
    text-align: center;

    & > div {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.prefooter {
  background-color: $teal;
  color: #fff;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;

  & > .container {
    max-width: $sm;
  }

  .typed {
    color: #fff;
    margin: 1.25rem auto 2rem;
    line-height: 1.25;
  }

  form {
    input {
      text-align: center;

      &::placeholder {
        font-size: 16px;
      }
    }
  }

}