body {
  font-size: 1.25em;

  @include media-breakpoint-up(lg) {
    font-size: 1.125em;
    line-height: 1.65;
  }
}

a {
  font-weight: $font-weight-normal;
}

a:not(.btn) {
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
}

.lead {
  font-size: 1.375rem;
}

/* Special Treatments */
.typed {
  color: $grey;
  font-family: $font-family-sans-serif;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/* Typed.js */
#typed {
  display: inline-block;
  margin-right: 5px;
  white-space: pre;
}

.typed-cursor {
  color: $grey;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-weight: 200;
}

.display {
  font-size: 60px;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 0;
}

.fancy {
  font-family: cinque-donne;
  font-size: 88px;
  line-height: 48px;
  text-transform: lowercase;
}

/* Other Elements */
blockquote {
  border-left: 0.3rem solid lighten($tan, 15%);
  font-family: $font-family-serif;
  font-size: 1.25em;
  font-weight: 400;
  color: $grey;
  margin: 0 auto 2em;
  padding: 0 0 0 1.5rem;
}