{% extends template_directory ~ '/base.html.twig' %}

{% block page_title %}Tips for Landing the Right Property | Farm Credit {% endblock %}

{% block header %}
  <header class="site-header {% block header_class %}header-page page-article-1{% endblock %}">
    <div class="container">
      <div class="brand">
        <img src="img/logos/fc.svg" height="60" alt="logo">
      </div>
      {% block masthead %}
        <div class="masthead">
          <p class="fancy">exclusive article</p>
          <h1>Tips for Landing the<br> Right Property</h1>
          <p class="lead">9 minute read</p>
        </div>
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block main %}
  <main class="site-main">
    <a id="main-content" tabindex="-1"></a>
    <section class="main-content">
      <div class="container">
        <blockquote><p>You’re excited to buy land in the country and start living your dream. But there are some
            important things to consider about the land itself before making your purchase. You likely wouldn’t buy
            a house without walking through it first and opening a few cabinets. The same goes for land. Here are
            some things to look for:</p></blockquote>
        <p><img src="img/article-1/1.jpg" width="720" height="270" alt=""></p>
        <h2>Get the lay of the land</h2>
        <p>Getting the lay of the land you want to buy is vital to any future plans you have for it. Ideally, you’d
          be able to walk the land to identify wooded areas, any creeks or ponds that may be present, soil type
          and grade. This can help you determine where you want to build any structures, construct trails or erect
          animal pens. If you can’t walk the land, you’ll want to research it as much as possible online. Google
          Earth is a good place to start. You can use it to locate the property you are interested in buying and
          view the surrounding area. Even though the images may be a few years old, you can get a feel for the
          neighborhood. Switching to Google Street View can also help you get a look at what’s around.</p>
        <p><img src="img/article-1/2.jpg" width="720" height="270" alt=""></p>
        <h2>Does it 'perc'?</h2>
        <p>It has a quirky name, but a perc test can make or break your land deal if you plan to build there.
          Formally known as a percolation test, it measures how well your land absorbs water. This information is
          essential in determining how well your land can handle a septic system, which most rural tracts require
          when they will be used residentially. The test is relatively simple and generally costs between $350 and
          $500 for smaller tracts. It could be more depending on the level of work required. If your test fails,
          you might consider paying to have a septic system specially designed by an engineer, if possible.
          Otherwise, odds are you’ll need to look for another property.</p>
        <p><img src="img/article-1/3.jpg" width="720" height="270" alt=""></p>
        <h2>Know your boundaries</h2>
        <p>Knowing where your property ends and your neighbors’ property begins might seem pretty straightforward.
          But in some rural areas, the boundaries aren’t always clearly defined. You might need a property survey
          to make sure you know where your property lines are. This information would be essential if you are
          planning to build a fence or any other structure and could be required in some areas. The cost generally
          ranges from $1,000 to $4,500, depending on the complexity of the property, but having clearly defined
          boundaries could save you money in the long run. Find more information on surveyors in your state
          <a href="https://www.nsps.us.com/general/custom.asp?page=state_affiliates" target="_blank">here</a>.</p>
        <p><img src="img/article-1/4.jpg" width="720" height="270" alt=""></p>
        <h2>What's it worth?</h2>
        <p>Knowing the value of the land you plan to purchase can be tricky. Getting a land appraisal will give you
          an idea of what a fair price would be and most likely will be required by your lender. An appraiser will
          consider factors such as recent nearby land sales, property terrain and possible uses for the land when
          offering an opinion on its value. An appraisal typically averages around $450 but could run $1,000 or
          more for complex properties.</p>
      </div>
    </section>
    <section class="valueadd" style="padding-top:0">
      <div class="section-heading">
        <div class="container">
          <h2>Need more information to <br>make your decision?</h2>
          <p class="lead">Use these exclusive articles to help guide your move to the country.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <a target="_blank" href="/campaign/article-2" class="card card-2">
              <img src="img/card-2-fg.jpg" alt="">
              <h3>How to begin your search for a country home</h3>
              <p>9 minute read</p>
            </a>
          </div>
          <div class="col-md-4">
            <a target="_blank" href="/campaign/article-3" class="card card-3">
              <img src="img/card-3-fg.jpg" alt="">
              <h3>5 mistakes to avoid when buying rural property</h3>
              <p>11 minute read</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="prefooter" id="prefooter">
      <div class="container">
        <h2 class="display"><span class="fancy">wherever</span><br>you grow</h2>
        <p class="typed">Farm Credit has the tools to help you cultivate your dreams.</p>
        <form id="zipLookupBottom">
          <div class="form-group">
            <label for="zipBottom" class="sr-only">Zip Code Search</label>
            <input type="text" class="form-control" id="zipBottom" name="zipBottom" placeholder="ENTER YOUR ZIP CODE" data-mask="00000" required="" autocomplete="off" maxlength="5">
          </div>
          <button type="submit" class="btn btn-block btn-outline-light"><span class="icon-map"></span> Find a Local Partner
          </button>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
{% block footer %}
  <footer class="site-footer">
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-5">
          <div class="brand">
            <img src="img/logos/fc.svg" height="60" alt="logo">
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="legal">
            <p class="legal-links"><a target="_blank" href="https://www.agfirst.com/privacy-policy.aspx">Privacy</a> | <a target="_blank" href="https://www.agfirst.com/ccpa.aspx">CCPA</a> | <a target="_blank" href="https://www.agfirst.com/disclosures.aspx">Disclosures</a>
            </p>
            <img src="img/logos/ehl.svg" width="50" alt="logo">
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-md-5">
          <div class="address">
            <p>AgFirst Farm Credit Bank<br>
              1901 Main Street, Columbia, SC 29201</p>
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="copyright">
            <p>Copyright © 2020 AgFirst Farm Credit Bank.<br>
              All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
