{% extends template_directory ~ '/base.html.twig' %}

{% block page_title %}Five Mistakes to Avoid When Buying Rural Property | Farm Credit{% endblock %}

{% block header %}
  <header class="site-header {% block header_class %}header-page page-article-3{% endblock %}">
    <div class="container">
      <div class="brand">
        <img src="img/logos/fc.svg" height="60" alt="logo">
      </div>
      {% block masthead %}
        <div class="masthead">
          <p class="fancy">exclusive article</p>
          <h1>Five Mistakes to Avoid When Buying Rural Property</h1>
          <p class="lead">9 minute read</p>
        </div>
      {% endblock %}
    </div>
  </header>
{% endblock %}

{% block main %}
  <main class="site-main">
    <a id="main-content" tabindex="-1"></a>
    <section class="main-content">
      <div class="container">
        <blockquote><p>Whether you’re thinking about buying land as an investment or looking for a site to build
            your country dream home, purchasing rural property can be tricky if you aren’t careful. Here are five
            mistakes to avoid when searching for your piece of rural paradise.</p></blockquote>
        <p><img src="img/article-3/1.jpg" width="720" height="270" alt=""></p>
        <h2>1. You don't check zoning regulations.</h2>
        <p>You’ve been searching online real estate listings and driving country roads in the areas you prefer, and
          you think you may have found the acreage that’s perfect for you. Whether it has a home already on it or
          you think it’s ideal for building your dream house, it’s important to check your city, county and state
          zoning ordinances to see what you can actually do with the land if you buy it. It’s also a good idea to
          ask for recommendations for local real estate agents who know the area and understand how rural property
          transactions work there. Your agent will usually have access to this type of information. Regardless, do
          your homework, and check the official property deed at your county clerk’s office. You might be
          surprised to find:</p>
        <p>It’s also wise to investigate whether there are plans that could impact the land’s value in the future,
          such as the construction of a highway, manufacturing or power plant, shopping center or other structures
          that could decrease the value of your investment while increasing your level of frustration with
          traffic, odors or noise.</p>
        <ul>
          <li>Minimum or maximum dwelling square footages.</li>
          <li>Restrictions against outbuildings or other auxiliary structures.</li>
          <li>Limits on the types of structures you can build or materials you can use.</li>
          <li>Other restrictions on how and what you can build.</li>
        </ul>
        <p></p>
        <p><img src="img/article-3/2.jpg" width="720" height="270" alt=""></p>
        <h2>2. You don't know if you have legal access.</h2>
        <p>RuralOnly.com suggests checking to ensure that legal access to the property comes with the title deed.
          Sometimes land listed for sale comes without the legal right to access it. That can cause problems with
          the people who own the land surrounding the property you may want to buy.</p>

        <p>Even if the property does have legal access, it may not have a road to it, so you’ll need to have one
          built. And, you may also need to pay to have utilities run to your home or any other structures. Not
          fully understanding legal access to the property you buy can result in costly missteps.
        </p>
        <p><img src="img/article-3/3.jpg" width="720" height="270" alt=""></p>
        <h2>3. You don't know if the property is in a flood zone.</h2>
        <p>When you think about flood zones, it’s natural to think about coastal areas. But as sea levels
          continue to rise and weather patterns change, more inland areas are becoming prone to flooding.</p>
        <p>Your prospective property may have swampland or a high water table, or it may be in a low-lying area
          susceptible to seasonal flooding. If it is and you’re thinking of building a home or planting
          crops, proceed with caution. As a first step, you can check the Federal Emergency Management Agency’s
          free <a target="_blank" href="https://msc.fema.gov/portal/home">flood map tool</a> to see if the prospective property is
          within a flood zone. Then, double-check with your real estate agent before moving forward with the
          purchase.</p>
        <p><img src="img/article-3/4.jpg" width="720" height="270" alt=""></p>
        <h2>4. You don't do soil and water tests.</h2>
        <p>It’s definitely worth the time and money to hire a professional to test the soil on the property to
          determine its pH and detect heavy metals that could affect the plants you want to grow. It’s
          important to know if there’s anything in the soil that could harm your family or pets. Once you
          know the condition of your soil, you can make better decisions about the types of plants you can grow
          and any abatement that may be necessary.</p>
        <p>Since you’ll probably be out of the reach of public sewer and water systems, you’ll likely
          need to install a septic tank. Standards for these waste-treatment tanks can vary from state to state
          and from town to town, so it’s essential to have a percolation, or perc, test done by a licensed
          professional. A perc test simply determines the water absorption rate of your soil – specifically,
          how much time it takes for the soil to drain. A septic tank, unlike city or town sewer systems, requires
          a drain or leach field, and good drainage is a must for septic systems, according to Fixr.com. <a target="_blank" href="https://www.fixr.com/costs/perc-test">This calculator</a> can help you get a feel for how
          much a perc test will cost in your area and what’s involved.</p>
        <p><img src="img/article-3/5.jpg" width="720" height="270" alt=""></p>
        <h2>5. You don't get help from an expert team</h2>
        <p>Buying land can be complicated, so it’s important to find real estate, mortgage, appraisal and
          building professionals who have experience working in rural areas. Take your time, and talk to people
          who have already gone through the process to identify trusted advisers who can help you save a lot of
          money, time and frustration in the long run.</p>
        <p>As with any real estate purchase, it pays to do your homework before buying rural property. However, you
          don’t have to go it alone. That’s why #5 is perhaps the most important mistake to avoid.
          Assembling the right team means that you’ll have professionals working on your behalf to ensure
          that your land purchase is as stress-free and straightforward as possible.</p>
      </div>
    </section>
    <section class="valueadd" style="padding-top:0;">
      <div class="section-heading">
        <div class="container">
          <h2>Like this article?</h2>
          <p class="lead">You might find these helpful, too:</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <a target="_blank" href="/campaign/article-1" class="card card-1">
              <img src="img/card-1-fg.jpg" alt="">
              <h3>Tips for landing the right property</h3>
              <p>8 minute read</p>
            </a>
          </div>
          <div class="col-md-4">
            <a target="_blank" href="/campaign/article-2" class="card card-2">
              <img src="img/card-2-fg.jpg" alt="">
              <h3>How to begin your search for a country home</h3>
              <p>9 minute read</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="prefooter" id="prefooter">
      <div class="container">
        <h2 class="display"><span class="fancy">wherever</span><br>you grow</h2>
        <p class="typed">Farm Credit has the tools to help you cultivate your dreams.</p>
        <form id="zipLookupBottom">
          <div class="form-group">
            <label for="zipBottom" class="sr-only">Zip Code Search</label>
            <input type="text" class="form-control" id="zipBottom" name="zipBottom" placeholder="ENTER YOUR ZIP CODE" data-mask="00000" required="" autocomplete="off" maxlength="5">
          </div>
          <button type="submit" class="btn btn-block btn-outline-light"><span class="icon-map"></span> Find a Local Partner
          </button>
        </form>
      </div>
    </section>
  </main>
{% endblock %}
{% block footer %}
  <footer class="site-footer">
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-5">
          <div class="brand">
            <img src="img/logos/fc.svg" height="60" alt="logo">
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="legal">
            <p class="legal-links"><a target="_blank" href="https://www.agfirst.com/privacy-policy.aspx">Privacy</a> | <a target="_blank" href="https://www.agfirst.com/ccpa.aspx">CCPA</a> | <a target="_blank" href="https://www.agfirst.com/disclosures.aspx">Disclosures</a>
            </p>
            <img src="img/logos/ehl.svg" width="50" alt="logo">
          </div>
        </div>
      </div>
      <div class="row footer-bottom">
        <div class="col-md-5">
          <div class="address">
            <p>AgFirst Farm Credit Bank<br>
              1901 Main Street, Columbia, SC 29201</p>
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <div class="copyright">
            <p>Copyright © 2020 AgFirst Farm Credit Bank.<br>
              All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
