{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}

<header{{ attributes.addClass(['site-header']) }} role="banner">

  <div class="wrap">
    <h2 class="logo"><a href="/">Wherever You Grow</a></h2>

    <a href="#site-navigation" class="menu-toggle"><span>Menu</span></a>

    <div class="site-navigation" id="site-navigation">
      <div class="main-navigation">
        {{ elements.mainnavigation }}
      </div> <!-- /.main-navigation -->

      <div class="header-navigation">
        {{ elements.secondarynavigation }}
      </div>

      <div class="site-search">
        <a data-fancybox data-src="#search-form" href="javascript:;" class="search-toggle">Open Search</a>
        <div class="search-form" id="search-form">
          <div class="search-container">
            <div class="search-wrap">
              <form id="searchForm_Menu" action="/search" method="get">
                <label for="search" class="search-label">{{ "Enter keywords here..." | t }}</label>
                <input type="text" id="search" name="s" class="search-textfield">
                <input type="submit" value="Search" class="search-submit">
              </form>
            </div>
          </div>
        </div>
      </div> <!-- /.site-search -->

    </div> <!-- /.site-navigation -->


  </div> <!-- /.wrap -->

</header> <!-- /.site-header -->

{% endif %}
